<!-- patcurryworks.com/templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Patrick Curry">
    <meta name="description" content="Pat Curry Works is Patrick Curry's personal website.">
    <meta name="keywords" content="HTML, CSS, JavaScript, Python, Django, React, Resume, Portfolio, Blog">

    <title>Pat Curry Works</title>

    <link rel="stylesheet" href="{% static 'css/base-style.css' %}">

    {% block head %}
    {% endblock head %}

  </head>
  <body>
    <div class="page">


      <div class="header">
        <a class="link home" href="{% url 'home' %}">Home</a>
        <a class="link blog" href="{% url 'blog:post_list' %}">Blog</a>
<!-- 
        <a class="link workouts" href="{% url 'workouts:WorkoutIndex' %}">Workout App</a>
        <a class="link react" href="#">React Stuff</a>
-->
        <a class="link bio" href="{% url 'bio:index' %}">Bio</a>
        <a class="link resume" href="{% url 'bio:resume' %}">Resume</a>
      </div>

      {% block content %}

      {% endblock content %}

      <div class="footer">
        <a class="link" href="https://github.com/patcurry/patcurryworks.com" target="_blank">GitHub</a>
      </div>
      
    </div>
    <script src="{% static 'js/sanity.js' %}"></script>
  </body>
</html>
